   body{ 
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #FFFFFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    background-color: #f4f4f4;
}

.iniciarS-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10vh;
    padding: 25px;
    border: 3.5px solid black;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.panel {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: -10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
}

.btn:hover {
    background-color: #4A47A3;
}

.btn-2 {
    background-color: #555;
}

.btn-2:hover {
    background-color: #6E6E6E;
}

.mensaje {
    color: red;
    text-align: center;
    margin-top: 10px;
}
